* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

header .logo {
    margin: 0;
    padding: 25px 10%;
    font-weight: bolder;
    color: orange;
    font-size: 1.5em;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}

header a:hover {
    color: red;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img_index/plantel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plantel-image {
    max-width: 50%;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    header .logo {
        padding: 25px 5%;
    }

    .hero-content {
        flex-direction: column;
    }

    .plantel-image {
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}
