body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    margin: 35px;
    background-color: white;
}

img {
    max-width: 100%;

}
.zoom-img {
    width: 100%; 
    transition: transform 0.3s ease; 
    cursor: zoom-in;
}

.zoom-img:hover {
    transform: scale(1.2); 
}

header {
    text-align: center;
    padding: 1em 0;
    color:orange
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}
header a:hover{
    color:red;
}

.container-title {
    text-align: center;
    font-weight: bolder;
    padding: 1em;
    background-color:white;
    margin-bottom: 2em;
    color: #000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    margin-bottom: 4em;
}

.container-img,
.container-info-product {
    flex: 1 1 300px; 
}

.container-info-product {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1em;
}

.container-price span {
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
}

.container-details-product {
    padding: 1em 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group label {
    color: #222;
    font-weight: 700;
}

.form-group select {
    padding: 0.5em;
    background-color: #f7f7f9;
    border: none;
    outline: none;
    color: #666;
}

.btn-clean {
    border: none;
    background: none;
    color: #666;
    cursor: pointer;
}

.container-add-cart {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.container-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-quantity {
    background-color: #f7f7f9;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    color: #666;
    font-weight: 500;
}

.input-quantity:focus {
    outline: none;
}

.btn-increment-decrement {
    display: flex;
    flex-direction: column;
}

.btn-increment-decrement i {
    font-size: 14px;
    color: darkblue;
    cursor: pointer;
}

.btn-add-to-cart {
    border: none;
    background-color: #252525;
    padding: 1px 15px; 
    color: #f7f7f9;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
    background-color: #333; 
}

.card-list-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
}

.card {
    cursor: pointer;
}

.card-img img {
    height: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}

.text-product h3:hover,
.text-product p:hover {
    color: orange;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #eee;
    margin-top: 2em;
    color: #222;
}

.container-related-products h2{
color: orange;
text-align: center;    
}


